.bookshelf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkModeBackgroundColor);
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}

.bookshelf-container.dark {
  background-color: var(--darkModeBackgroundColor);
  color: var(--lightModeBackgroundColor);
}
.bookshelf-container.light {
  background-color: var(--lightModeBackgroundColor);
  color: var(--darkModeBackgroundColor);
}

.background-top,
.background-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-size: cover;
  z-index: 1;
}

.background-top {
  top: 0;
  background-image: url("../../assets/DarkBackgroundGradient.png");
}

.background-bottom {
  bottom: 0;
  background-image: url("../../assets/LightBacgroundGradient.png");
  transform: scaleY(-1);
}

[data-theme="light"] .background-top {
  background-image: url("../../assets/LightBacgroundGradient.png");
}

[data-theme="light"] .background-bottom {
  background-image: url("../../assets/DarkBackgroundGradient.png");
}

.bookshelf-main-section {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.bookshelf-header {
  text-align: left;
}

.bookshelf-header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.bookshelf-header p {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.8);
  margin-bottom: 40px;
}

.separator {
  width: 100%;
  margin: 50px auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

[data-theme="light"] .separator {
  background-color: rgba(0, 0, 0, 0.1);
}

.bookshelf-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.bookshelf-grid .card {
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .bookshelf-main-section {
    width: 95%;
    padding: 0 10px;
  }

  .bookshelf-header h1 {
    font-size: 36px;
  }

  .bookshelf-header p {
    font-size: 18px;
  }

  .separator {
    margin: 30px auto;
  }
}

@media (max-width: 480px) {
  .bookshelf-header h1 {
    font-size: 28px;
  }

  .bookshelf-header p {
    font-size: 16px;
  }
}
