/* Body ve root container */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--darkModeBackgroundColor);
  color: var(--lightModeBackgroundColor);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.background-top,
.background-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 300px;
  background-size: cover;
  z-index: -1;
}

.background-top {
  top: 0;
  background-image: url("../../assets/DarkBackgroundGradient.png");
}

.background-bottom {
  bottom: 0;
  background-image: url("../../assets/LightBacgroundGradient.png");
}

[data-theme="light"] .background-top {
  background-image: url("../../assets/LightBacgroundGradient.png");
}

[data-theme="light"] .background-bottom {
  background-image: url("../../assets/DarkBackgroundGradient.png");
}

.container.dark {
  background-color: var(--darkModeBackgroundColor);
  color: var(--lightModeBackgroundColor);
}

.container.light {
  background-color: var(--lightModeBackgroundColor);
  color: var(--darkModeBackgroundColor);
}

/* Main section */
.main-section {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 120px 20px 0;
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.text-section {
  flex: 1 1 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: var(--basicDarkGray);
  max-width: 100%;
  word-wrap: break-word;
}

.title span {
  color: var(--basicDarkGray);
}

.title .highlight {
  color: var(--darkModeBackgroundColor);
}
[data-theme="dark"] .highlight {
  color: var(--lightModeBackgroundColor);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: gray;
  max-width: 100%;
  word-wrap: break-word;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.4);
}

.button:active {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.image-container {
  flex: 1 1 300px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-logo {
  width: 100%;
  max-width: 540px;
  height: auto;
  opacity: 0.9;
}
[data-theme="light"] .mode-logo {
  opacity: 0.37;
}

/* Selected work  */

.selected-work {
  width: 100%;
  max-width: 1024px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.selected-work h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--basicDarkGray);
}

.selected-work .card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.selected-work .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cardColor);
  border-radius: 8px;
  overflow: hidden;
}

.dark .selected-work .card {
  background-color: var(--cardColor);
  color: var(--lightModeBackgroundColor);
}

[data-theme="light"] .selected-work .card {
  background-color: var(--lightModeBackgroundColor);
  color: var(--darkModeBackgroundColor);
}

.selected-work .card-content {
  flex: 1 1 300px;
  padding: 20px;
}

.selected-work .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.selected-work .card-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.selected-work .card-image {
  flex: 1 1 200px;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.selected-work .card-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
}

.selected-work .card-link {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  background-color: var(--cardColor);
  font-weight: 500;
  border-radius: 8px;
  transition: color 0.3s ease;
  color: var(--lightModeBackgroundColor);
}
[data-theme="light"] .selected-work .card-link {
  background-color: var(--lightModeBackgroundColor);
  color: var(--darkModeBackgroundColor);
}

.selected-work .card-link::after {
  content: "→";
  margin-left: 8px;
  font-size: 18px;
  transition: margin-left 0.3s ease;
}

.selected-work .card-link:hover::after {
  margin-left: 12px;
}

/* get2now me */

.get-to-know-me {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto 0;
  padding: 0 20px;
  border-radius: 32px;
}

.get-to-know-me h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--basicDarkGray);
}

.get-to-know-me .cards-grid-hp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.get-to-know-me .card {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-gray);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: hidden;
}
.dark .get-to-know-me .card {
  background-color: var(--cardColor);
  color: var(--lightModeBackgroundColor);
}

[data-theme="light"] .get-to-know-me .card {
  background-color: var(--lightModeBackgroundColor);
  color: var(--darkModeBackgroundColor);
}
.get-to-know-me .card img {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  max-width: 90%;
  align-self: center;
  height: auto;
}

.get-to-know-me .card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.get-to-know-me .card .card-description {
  font-size: 1rem;
  color: var(--basicDarkGray);
  margin: 8px 0;
  text-align: center;
  word-wrap: break-word;
}

/* lets work together */

.lets-work-together {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 50px auto 0;
  border-radius: 12px;
  background-color: var(--darkModeBackgroundColor);
  transition: all 0.2s ease;
}
[data-theme="light"] .lets-work-together {
  background-color: #ffffff;
}

.lets-work-together h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--lightModeBackgroundColor);
}
[data-theme="light"] .lets-work-together h2 {
  color: #000000;
}

.lets-work-together p {
  font-size: 1rem;
  color: gray;
  margin-top: 5px;
  max-width: 600px;
}

.get-in-touch-container {
  display: flex;
  align-items: center;
}

.get-in-touch {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  background: linear-gradient(90deg, rgba(26, 26, 26, 1), rgba(19, 19, 19, 1));
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #ffffff;
}
[data-theme="light"] .get-in-touch {
  background: linear-gradient(90deg, rgba(26, 26, 26, 1), rgba(19, 19, 19, 1));
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.get-in-touch .button-icon {
  width: 20px;
  height: auto;
  margin-right: 8px;
}

.get-in-touch:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .title {
    font-size: 2.5rem;
    text-align: center;
  }
  .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .image-container {
    display: none;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
  }

  .get-to-know-me .cards-grid-hp {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .lets-work-together {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 10px;
  }
  .lets-work-together .get-in-touch {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }

  .selected-work .card-wrapper {
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 0.9rem;
  }
  .image-container {
    display: none;
  }
  .button {
    padding: 10px 20px;
    font-size: 12px;
  }
  .selected-work .card-title {
    font-size: 1.25rem;
  }
  .selected-work .card-description {
    font-size: 0.9rem;
  }
  .get-to-know-me .card .card-title {
    font-size: 1.25rem;
  }
  .get-to-know-me .card .card-description {
    font-size: 0.9rem;
  }
  .lets-work-together h2 {
    font-size: 2rem;
  }
  .lets-work-together p {
    font-size: 0.9rem;
  }
}
